.commissionsDetails {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  height: 40rem;
  .desc {
    flex: 0 0 auto;
    width: 50%;
  }
  img {
    flex: 0 0 auto;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .commissionsDetails {
    display: block;
    height: 100vh;
 
    .desc {
      width: 100%;
    }
    img {
      margin-bottom: 1rem;
      height: auto;
    }
  }
  .projectD {
    display: none !important;
    .footer {
      left: 0px;
      

      p {
        text-align: center;
      }
    }
  }
}
