.commissionImages {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .img{
    flex: 0 0 auto;
    
  }
}

  
  @media only screen and (max-width: 768px) {
    .commissions_images{
      margin-left: 0 !important;
      padding: 0 !important;

      .first{
        flex-direction: column;
        .imgDiv{
          width:100%;}}
  
    }
  }