//Telefon

$font-black: "Telefon Black";
$font-blackitalic: "Telefon BlackItalic";
$font-blond: "Telefon Blond";
$font-blonditalic: "Telefon BlondItalic";
$font-bold: "Telefon Bold";
$font-bolditalic: "Telefon BoldItalic";
$font-light: "Telefon Light";
$font-lightitalic: "Telefon LightItalic";
$font-medium: "Telefon Medium";
$font-mediumitalic: "Telefon MediumItalic";
$font-normal: "Telefon Normal";


