.awakening {
  margin-left: 70px;
  padding: 36px;
  width: 100%;
  .diff {
    line-height: 1.7 !important;
    font-size: 11px;
    color: #777777;
    i {
      font-style: italic;
    }
  }
  .allImg {

    img {
      padding-bottom: 36px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
	.awakening {
    margin-left: 0!important;
    padding: 0!important;
}
}
