.footer{
    bottom: 0;
	margin-left: 70px;
	padding: 20px;
	width: 1140px;
	p{
		color: #777777;
		font-family: karla, sans-serif;
		font-size: 11px;
		font-style: normal;
		font-weight: normal;
	}
}