.projectDetails {
    // display: flex;
    // flex-wrap: nowrap;
    // overflow-x: auto;
    // gap: 10%;
    // height: 40rem;
  .desc{
    flex: 0 0 auto;
    width:50%;
  }
    img{
      flex: 0 0 auto;
      height:100%;
    }
  }

  @media only screen and (max-width: 768px) {
    .projectDetails {
        display: block;
        width:100%;
        .desc{
          width:100%;
        }
        img{
          margin-bottom: 1rem;
          height:auto;
        }
     
    }
  
  }
  