body {
  background: #242424 !important;
  color: #eeeeee !important;
  font-family: "Telefon Normal", "Telefon Normal", sans-serif !important;
  font-weight: normal;
  font-style: normal;
  font-size: 16px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale !important;
  overflow-x: hidden !important;
  overscroll-behavior: none;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.display-block {
  display: block !important;
}

.overflow-hidden {
  overflow: hidden;
}
a{
  color: #0000FF ;
}
a:hover{
  color:grey;
}
.footerParagraph{
		color: #777777;
		font-size: 11px;
		font-style: normal;
		font-weight: normal;
}
.bold-text {
  font-weight: bold; 
}

img {
  cursor: pointer; 
}
