@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./config/variables.scss";


//Telefon
@font-face {
  font-family: $font-black;
  src: url("./fonts/TelefonTrial-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-blackitalic;
  src: url("./fonts/TelefonTrial-BlackItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-blond;
  src: url("./fonts/TelefonTrial-Blond.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-blonditalic;
  src: url("./fonts/TelefonTrial-BlondItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-bold;
  src: url("./fonts/TelefonTrial-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-bolditalic;
  src: url("./fonts/TelefonTrial-BoldItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: $font-light;
  src: url("./fonts/TelefonTrial-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-lightitalic;
  src: url("./fonts/TelefonTrial-LightItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-medium;
  src: url("./fonts/TelefonTrial-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-mediumitalic;
  src: url("./fonts/TelefonTrial-MediumItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-normal;
  src: url("./fonts/TelefonTrial-Normal.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
