.repository {
  margin-left: 70px;
  padding: 36px;
  width: 1140px;
  .first {
    .long-text {
      a {
        text-decoration: none;
        color: white;
        font-size: 48px !important;
        &:hover {
          color: red;
        }
      }
    }
    p {
      margin-top: 2rem;
      color: #777777;
    }
    .second {
      .nuk {
        padding: 2rem;
        background-color: black;
        width: 780px;
        height: 520.371px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .images {
        width: 1212px;
        img {
          height: 60px;
          height: 60px;
        }
      }
    }
  }

  .lineTab {
    margin-bottom: 60px;
    border-bottom: 2px solid;
    margin: 1.5em 0px 2em;
    color: #777777;
  }
}
